SSHGithubURL=git@github.com:Green-Custard/gitsync.git
GitSyncServiceURL=https://example.com
GitSyncAccessToken=*******
GitSyncAccessSecret=*******
GitSyncServiceRole=arn:aws:iam::XXXXXXXXXXXX:role/YYYYYYYYYY
